<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>First</title>
</head>

<body>
    <h1>This my First projct !</h1>

    <h3> Welcome to text analyzer!</h3> <br> Enter text to analyze
    <form action="/analyze" method='get'>
        <textarea name="text" cols="200" rows="10"></textarea><br>
        <input type="checkbox" name="removepunc"> Remove Punctutation <br>
        <input type="checkbox" name="fullcaps"> UpperCase <br>
        <input type="checkbox" name="newlineremover"> Remove new line <br>
        <button type="submit"> Analyze Text</button>
    </form>
</body>

</html>